<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cube.jabbr"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name"  android:debuggable="true">
        <activity android:name=".Jabbrcube"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".NewCard" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Startup" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Personal" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ViewCard" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".SignUp" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ChangeLoc" android:theme="@android:style/Theme.Dialog" android:label="Select your location"/>
		<uses-feature android:name="android.hardware.camera"></uses-feature>>
    </application>
    <uses-sdk android:minSdkVersion="3" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 